<html>
  <head>
    <link rel="stylesheet" href="welcome.css">
  <!-- Navigation -->
  </head>
  <body class= "beginning">
  <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <div class="container">
      <a class="startup" href="#">Beer Cheese Soup</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Welcome
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <form action="/:badge_id" method="get">
                <button>Sign in</button>
            </form>
          </li>
          <li class="nav-item">
            <form action="/registrations" method="get">
                <button>First time</button>
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <a href="#" class="button15">Delicious!</a>
    <br>
      <footer>
        <p><nobr><b>>©2020 BeerCheeseSoup Inc. | Web design by Anthony McMullen | Flatiron School</nobr><b></p>
      </footer>

  </body>
</html>
