<html class= "verification-html">
    <head>
    <link rel="stylesheet" href="welcome.css">  #
#
    </head>
    <body class= "verification-body">
        <div class="login">
        <div class="heading">
            <h2>Sign in</h2>
            <form action="#" class= "verification-form">

            <div class="inputgroup_inputgroup-lg">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" id= "verification-email" class="form-control" placeholder="Please enter email">
                </div>

                <div class="inputgroup_inputgroup-lg">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" id= "verification-password" class="form-control" placeholder="verification-Password">
                </div>

                <form>
               <label>Enter:<button id= "enterBCS" class="float">BCS</button></label>
                </form>
            </div>
        </div>
    </body>
 </html>
